name: Conan Dependency Submission
on:
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  schedule:
    - cron: "0 0 * * 2,5"
  workflow_dispatch:
jobs:
  conan:
    runs-on: ubuntu-latest
    steps:
      - name: Conan Dependency Submission
        uses: advanced-security/conan-dependency-submission@v1
